<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      .title{
        text-align: center;
        color:#0d47a3;

      }
      body{
        background-color:#ccdffc;

      }
      .password{
        font-size:40px;
        color:white;
        background-color:#5272a3;
        width: auto;
        height: auto;
        text-align: center;
        

      }
      button{
          width:auto;
          height: auto;
          margin-left: 46%;
      }
      a{
        font-size: 20px;
        text-decoration:none;

      }
    </style>
  </head>
  <body>

    <div class="title">
      <h1>Your password is: </h1>
    </div>
    <div class="password">
      <h2>{{password}}</h2>

    </div>

    <button type="button" name="button"><a href=" {% url 'home' %}" >HOME</a></button>

  </body>
</html>
